{% extends 'M4_Web/base.html' %}
{% block title %} {% endblock %}
{% load static %}

{% block body %}

    <script async="" src="./published_articles_files/analytics.js.download"></script><script id="twitter-wjs" src="./published_articles_files/widgets.js.download"></script><script type="text/javascript">
        $(function () {
            $(window).scroll(function () {
                var scroll = $(window).scrollTop();
                if (scroll >= 500) {
                    $(".header").addClass('smaller');
                } else {
                    $(".header").removeClass("smaller");
                }
            });
        });
    </script>
    <script type="text/javascript">
        window.addEventListener('mouseup', function (event) {
            var box = document.getElementById('info');
            var box1 = document.getElementById('bg-effect');
            if (event.target != box && event.target.parentNode != box) {
                box.style.display = 'none';
                box1.style.display = 'none';
            }
        });
</script>
   <style>
   .header {
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: fixed;

    z-index: 999;
    background-image:url('images/gradient2.jpg');
    border:solid;
 border-bottom-width :3px;
border-image:url('images/line.png') 0 0 20 0 repeat;

}
.header h1#logo {
    display: inline=block;
    vertical-align:top;
   font-size: 60px;
    line-height: 150px;
    font-weight: 400;


}

.header ul
{

 height:180px;
font-family:Sans-Serif;

}
.header li a {


   color: #D3D3D3;
   font-size: 14px;

   line-height:25px;
   padding-top:10px;

   font-family:Sans-Serif;



}
.header li a:hover{color:#109276;  text-decoration:none;}
.header nav {
    display: inline=block;

}
.header nav a {

    color: #D5D5D5;
    font-weight: 700;
    font-size: 14px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.header span {
    display: inline=block;
    float:left;
    margin-right:0px;
}
.header span a {
    line-height: 150px;
    margin-left:10px;
    color: #D5D5D5;
    font-weight:normal;
    font-size: 14px;
    font-family:Sans-Serif;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.header nav a:hover {
    color: white;
}
.header.smaller {
    height: 75px;
}
.header.smaller h1#logo {
    width: 150px;
    height: 75px;
    font-size: 30px;
}
.header.smaller nav a {
    line-height: 75px;
}


   </style>

      <style type="text/css">
 .black_overlay
  {
            height: 130%;
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 1;
            background-color: Black;
            filter: alpha(opacity=80); /* internet explorer */
            -khtml-opacity: 0.80; /* khtml, old safari */
            -moz-opacity: 0.80; /* mozilla, netscape */
            opacity: 0.80;

        }
        #info {
           position: absolute;
            top: 1%;
            z-index: 1002;
            vertical-align:middle;

           }
</style>

    <script type="text/javascript">
        window.addEventListener('mouseup', function (event) {
            var box = document.getElementById('info');
            var box1 = document.getElementById('bg-effect');
            if (event.target != box && event.target.parentNode != box) {
                box.style.display = 'none';
                box1.style.display = 'none';
            }
        });
</script>
<script src="./published_articles_files/secureAnonymousFramework"></script><script type="text/javascript" charset="utf-8" async="" src="./published_articles_files/button.7db838345f9545c91ea4497f64abb814.js.download"></script></head>
<div id="BodyMaster" style="font-family:Sans-Serif;">
    <form method="post" action="http://technopak.com/PublishedArticles.aspx" id="Form1">
<div class="aspNetHidden">
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwULLTEwMDUyNjYzMjhkZARVzMAn1zOfG13v4xmzHfK7pfiBeeLwhRoPfwXNJR/t">
</div>

<div class="aspNetHidden">

	<input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="5360DAE9">
</div>

<div align="center" class="main">

<link href="./published_articles_files/tpk1.css" rel="stylesheet" type="text/css">
    <table width="1000" border="0" style="padding-top:180px">
        <tbody><tr>
            <td style="color: #FFF; padding: 50px 50px 50px 200px; font-size: 12px; font-family: Sans-Serif;
                text-align: justify;">
                <p>
                    <strong>
                        </strong></p><h1 style="font-family: Sans-Serif; font-size:17px;"><strong>
                            Published Articles</strong></h1><strong>
                    </strong>
                <p></p>
                <p>

                    </p><ul>
                        <li><span style="font-size: 15px; font-family: Sans-Serif;"><a target="_blank" href="http://technopak.com/Articles.aspx">
                            <img alt="arrow" src="./published_articles_files/arrow.png" width="15" height="15">Articles by Arvind
                            Singhal</a></span><br>
                            <br>
                        </li>
                        <li><span style="font-size: 15px; font-family:Sans-Serif;"><a target="_blank" href="http://technopak.com/ArticlesBySeniors.aspx">
                            <img alt="arrow" src="./published_articles_files/arrow.png" width="15" height="15">Articles by Senior
                            Management</a></span><br>
                            <br>
                        </li>
                        <li></li>
                    </ul>
                <p></p>
            </td>
        </tr>
    </tbody></table>

        </div>


    <table width="100%" align="center" style="height:auto">
    <tbody><tr>
    <td>
    <div width="100%" style="border-top: 1px dotted; margin-top:10px; height: 8px; width:100%">
    </div>
    </td>
    </tr>
    <tr>
    <td>
    <div align="center" width="100%" style="font-size: 12px;  font-family:sans-serif; width:100%; height: 34px;">
    <a href="http://technopak.com/Technopak-TnC.aspx?page=policy">
            Privacy Policy</a> | <a href="http://technopak.com/Technopak-TnC.aspx?page=terms">Terms and Conditions</a>
        | <a href="http://technopak.com/ContactUs.aspx">Contact Us</a> | Copyright © 2017 Technopak Advisors
        Pvt. Ltd. All rights reserved.<br><br>
        </div>
    </td>
    </tr>
    </tbody></table>

    </form>

<script type="text/javascript">
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
  m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-47540252-1', 'technopak.com');
    ga('send', 'pageview');

</script>


<iframe scrolling="no" frameborder="0" allowtransparency="true" src="./published_articles_files/widget_iframe.049716a23792bca881820db70e17250b.html" title="Twitter settings iframe" style="display: none;"></iframe><iframe id="rufous-sandbox" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="true" style="position: absolute; visibility: hidden; display: none; width: 0px; height: 0px; padding: 0px; border: none;" title="Twitter analytics iframe" src="./published_articles_files/saved_resource.html"></iframe></div>

{% endblock %}